body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  text-align: center;
  display: flex;
  justify-content: center;
}

#yes {
  text-align: center;
  background-color: green;
  font-size: 24px;
}

#no {
  text-align: center;
  background-color: red;
  font-size: 10px;
}

#buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}