body {
    font-family: Arial, sans-serif;
    background: pink;
    text-align: center;
    margin-top: 100px;
}

button {
    font-size: 24px;
    padding: 15px 30px;
    margin: 20px;
    cursor: pointer;
    border-radius: 10px;
    border: none;
}

#yes {
    background-color: #ff4d6d;
    color: white;
    transition: transform 0.2s;
}

#no {
    background-color: #ccc;
}

img {
    width: 250px;
    margin-top: 30px;
}

#gif-yes {
    opacity: 0;
}

#gif-waiting {
    opacity: 1;
}



.gif-container {
    width: 250px;
    height: 250px;          /* feste Höhe → kein Springen */
    margin: 30px auto;
    position: relative;
}

.gif-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;

    position: absolute;    /* liegen exakt übereinander */
    top: 0;
    left: 0;
}

.wiggle {
    animation: wiggle 0.3s;
}

@keyframes wiggle {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(-5deg); }
    50% { transform: rotate(5deg); }
    75% { transform: rotate(-5deg); }
    100% { transform: rotate(0deg); }
}

