body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-align: center;
    display: flex;
    justify-content: center;
}

#yes {
    text-align: center;
    background-color: green;
    font-size: 24px;
    border: none;
    text-decoration: none;
    cursor: pointer;

    display: flex;
    justify-content: center;
}

#no {
    text-align: center;
    background-color: red;
    font-size: 10px;
    border: none;
    text-decoration: none;
    cursor: pointer;

    display: flex;
    justify-content: center;
}