#canvas {
    border: 1px solid black;
}

* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
  }
  
  .main {
    float: left;
    width: 60%;
    padding: 0 20px;
  }
  
  .right {
    float: left;
    width: 20%;
    padding: 0 20px;
  }

  #raven-png {
    width: 200px;
    height: 200px;
  }
  
  @media only screen and (max-width: 620px) {
    .menu, .main, .right {
      width: 100%;
    }
  }